.DS_Store
decisions/WIPcolonialformables/CaliforniaNation.txt
decisions/WIPcolonialformables/CanadaNation.txt
decisions/WIPcolonialformables/ColombiaNation.txt
decisions/WIPcolonialformables/HaitiNation.txt
decisions/WIPcolonialformables/LaPlataNation.txt
decisions/WIPcolonialformables/LouisianaNation.txt
decisions/WIPcolonialformables/MexicoNation.txt
decisions/WIPcolonialformables/ParaguayNation.txt
decisions/WIPcolonialformables/PeruNation.txt
decisions/WIPcolonialformables/QuebecNation.txt
decisions/WIPcolonialformables/TexasNation.txt
decisions/WIPcolonialformables/UPCANation.txt
decisions/WIPcolonialformables/USANation.txt
decisions/WIPcolonialformables/VenezuelaNation.txt
common\countries\desktop.ini